/*  
============= IMPORT GLOBAL DEPENDENCIES ==================================
*/

@import url("./fonts.css");
@import url("./variables.css");
@import url("./normalize.css");

/*  
============= GLOBAL STYLES ==================================
*/

body {
  color: var(--color-paragraph);
  font-family: var(--font-body);
  font-size: 1.6rem;
  font-weight: 500;
  position: relative;
  max-width: 198rem;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  color: var(--color-heading);
}

h1 {
  font-weight: 700;
  font-size: 6rem;
}

h2 {
  font-weight: 600;
  font-size: 5rem;
}

h3,
h4,
h5 {
  font-weight: 500;
}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 3rem;
}

h5 {
  font-size: 2.5rem;
}

h6 {
  font-weight: 400;
  font-size: 2rem;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.container {
  max-width: 128rem;
  margin: 0 auto;
  width: 95%;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 2.5rem;
  font-weight: 600;
  font-family: var(--font-heading);
  cursor: pointer;
}

.logo img {
  height: 2.5rem;
  width: 2.5rem;
}
