:root {
  /* ===== COLORS ==== */
  --color-heading: #1c1f35;
  --color-paragraph: #666c89;

  --color-blue: #091242;
  --color-blue-ligth: #1f2a69;

  --color-yellow: #ffbe34;
  --color-yellow-ligth: #ffd7a6;

  --color-gray: #f4f4f4;

  --color-white: #ffffff;
  --color-white-transparent: #ffffff80;

  --color-black: #23212a;
  --color-black-transparent: #23212a80;

  /* ===== FONTS ==== */

  --font-heading: "rukib";
  --font-body: "krub";
}
